/* PA */
.SOIN {
    width: 800px;
    height: 385px;
    text-align: center;
    font-family: Arial;
    line-height: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 20px;
    box-sizing: border-box;
    gap: 25px;
}

.SOIN * {
    box-sizing: border-box;
}

.SOIN a {
    text-decoration: none;
}

/* LIENS PA */
.lksSOIN {
    padding: 10px 0;
    display: grid;
    gap: 10px;
    text-align: center;
}

.lksSOIN a {
    padding: 5px 0;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease;
    color: #CFCEC6;
    border-radius: 10px;
    background-color: #171717;
}

.lksSOIN a:hover {
    color: #9C6D57;
    text-shadow: 0 0 10px #A33D0F;
}

/* EVENEMENT EN COURS PA */
.eventSOIN {
    margin: 0 auto;
    width: 145px;
    height: 145px;
    border-radius: 145px;
    position: relative;
}

.eventSOIN img {
    margin-top: 10px;
    width: 125px;
    height: 125px;
    border-radius: 125px;
}

/* CONTENU EVENEMENT EN COURS PA */
.eventSOIN>div {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 125px;
    height: 125px;
    padding-top: 35px;
    border-radius: 125px;
    font-size: 11px;
    opacity: 0;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transition: all 0.35s linear;
    -webkit-transition: all 0.35s linear;
}

.eventSOIN:hover>div {
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

/* LIEN EVENEMENT EN COURS PA */
.eventSOIN>div>a {
    display: block;
    margin: 15px auto 0;
    width: 98%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #8d8d8d;
    border-radius: 3px;
    padding: 5px 0;
}

/* BLOC PARTENAIRES / TOP-SITES / PREDEFINIS / ACTUALITES PA */
.boxIISOIN {
    position: relative;
}

.partSOIN {
    margin: 10px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.partSOIN img {
    width: 50px;
    height: 50px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.partSOIN img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/* BLOC TOP-SITES PA */
.topSOIN {
    margin: 0 15px;
    padding: 15px 10px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #171717;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 5px;
}

.topSOIN span:nth-of-type(1) {
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 4;
}

/* TOP-SITES PA */
.topSOIN a {
    padding: 5px;
    font-size: 24px;
    background-color: #666666;
}

/* PREDEFINIS PA */
.pfSOIN {
    margin: 20px 15px 0;
    padding: 6px 0;
    background: #666666;
    display: grid;
    justify-content: space-evenly;
    grid-auto-flow: column;
}

.pfSOIN img {
    width: 35px;
    height: 35px;
}

.newsSOIN {
    position: absolute;
    bottom: 0;
    width: 200px;
}

/* TITRE ACTUALITES PA */
.newsSOIN span {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 4px 0;
    border-radius: 25px 25px 0 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #171717;
}

/* CONTENU ACTUALITES PA */
.newsSOIN div {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 24px;
    height: 0;
    padding: 0 10px;
    overflow: hidden;
    text-align: start;
    font-size: 11px;
    color: #CFCEC6;
    transition: height 0.65s ease-in-out, top 0.65s ease-in-out, padding 0.65s ease-in-out;
    -webkit-transition: height 0.65s ease-in-out, top 0.65s ease-in-out, padding 0.65s ease-in-out;
}

.newsSOIN:hover div {
    top: -351px;
    height: 375px;
}

.newsSOIN div a {
    color: #90ff7e;
}

/* CONTEXTE PA */
.ctxtSOIN {
    margin: 10px 0;
    overflow: hidden;
    background-image: url(https://i.ibb.co/hJnpk5tV/PA-Box-Contexte.png);
    background-size: cover;
}

.ctxtSOIN div {
    margin: 10px;
    height: 145px;
    padding: 5px;
    overflow-y: auto;
    text-align: start;
    font-size: 11px;
    opacity: 0;
    transition: opacity 0.55s;
    -webkit-transition: opacity 0.55s;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    color: #CFCEC6;
}

.ctxtSOIN:hover div {
    opacity: 1;
}

/* BLOC STAFF PA */
.staffSOIN {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    border-radius: 0 0 10px 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 40px 0 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.staffSOIN img {
    width: 100px;
    height: 55px;
}

.staffSOIN div {
    position: relative;
    margin: 0;
}

/* CONTENUS STAFF PA */
.staffSOIN p {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0;
    font-family: Arial;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    background-color: rgba(0, 0, 0, 0.7);
}

.staffSOIN div:hover p {
    opacity: 1;
}

.staffSOIN p span {
    display: block;
    border-radius: 10px;
}

/* DISPONIBLE PA */
.onSOIN {
    background-color: #93ff93;
}

/* INDISPONIBLE PA */
.offSOIN {
    background-color: #ff9393;
}
